<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExtensionList" value=".cs;.cshtml;.txt;.js;.xml"/>
    <add key="ExcludeFolderList" value=".git;bin;.vs;tools;obj"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>